html,
body {
    /* background: linear-gradient(165deg, #1f005c, #8a2557); /*gradient-4/ */
    background: linear-gradient(165deg, #462e70, #483577, #4a3b7d, #4d4283, #4f498a, #514f90, #545696, #565c9c, #5963a2, #5c6aa8, #5f70ae, #6277b4);
    /*gradient-5*/
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}